@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9fafb;
    --surface: #ffffff;
    --text-primary: #111827;
    --text-secondary: #6b7280;
    --border: #f3f4f6;
    --primary: #4f46e5;
  }
  
  .dark {
    --background: #111827;
    --surface: #1f2937;
    --text-primary: #f9fafb;
    --text-secondary: #9ca3af;
    --border: #374151;
    --primary: #818cf8;
  }
}

